/* GradientNav.css */
.gradient-tech-background {
  background: linear-gradient(
    90deg,
    rgba(180, 211, 251, 1) 20%,
    rgb(116, 137, 234) 100%
  );

  .navlink:hover {
    color: orange;
  }
}

.gradient-tech-container {
  height: 90vh;
}

.gradient-tech-background {
  background: linear-gradient(
    90deg,
    rgba(219, 143, 205, 1) 20%,
    rgb(216, 94, 84) 100%
  );

  .navlink:hover {
    color: orange;
  }
}

.gradient-tech-container {
  height: 90vh;
}

.gradient-tech-text {
  font-size: 16px;
  padding-left: 0px;
}

.gradient-tech-title,
.gradient-tech-content,
.gradient-tech-text,
.partner-with-us {
  font-family: "Montserrat", sans-serif;
}

.gradient-tech-first-section {
  margin: 100px 200px;
  padding-left: 60px;
}

.gradient-tech-content {
  padding: 0;
  font-weight: 500;
  padding-right: 250px;
}

.partner-with-us {
  padding-left: 0px;
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 1221px) {
  .gradient-tech-first-section {
    margin: 100px 50px;
    margin-right: 200px;
  }

  .gradient-tech-title,
  .gradient-tech-content,
  .partner-with-us {
    padding: 20px 0;
  }
}

@media (max-width: 767px) {
  .gradient-tech-first-section {
    margin: 100px 20px;
  }

  .gradient-tech-content {
    line-height: 0.9;
    font-size: 34px;
  }
}
