.custom-footer {
  background-color: black;
  padding: 20px 240px;
}

.footer-row {
  max-width: 1000px;
}

@media (max-width: 767px) {
  .custom-footer {
    background-color: black;
    padding: 20px 0px;
  }

  .footer-row {
    max-width: 100%;
  }
}
