.consultation {
  padding: 80px 20px;
  background-color: #212529;
  height: auto;
}

.consultation-description {
  margin: 15px 370px;
}

.consultation-section h5 {
  letter-spacing: 1.5px;
}

.consultation-description p {
  color: #b9b2b2;
  margin-bottom: 30px;
  font-size: 16px;
}

.consultation .schedule-text {
  font-weight: 400;
}

.consultation-section {
  margin: 0;
}

.schedule-text {
  padding: 10px 0 0;
}

.consultation-description b {
  color: white;
}

@media (max-width: 1221px) {
  .consultation {
    padding: 60 150px;
    margin-left: 0;
    margin-right: 0;
  }

  .schedule-text {
    padding: 10px 0 5px;
  }

  .consultation-description {
    margin: 10px 150px;
  }
}

@media (max-width: 1020px) { 
  .consultation-description {
    margin: 10px 50px;
  }
}

@media (max-width: 768px) {
  .consultation {
    padding: 80px 50px;
  }

  .consultation-description {
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .consultation {
    padding: 80px 30px 30px;
  }

  .schedule-text {
    font-size: 19px !important;
    padding: 15px 0;
  }

  .consultation-description {
    margin: 10px;
    padding: 0px 29px;
  }
  
  .consultation-description p {
    font-size: 14px;
  }
}