.parent-container {
  background-color: #212529;
}

.first-section-desc {
  width: 600px;
}

@media (max-width: 767px) {
  .build-with-us-button {
    width: 100%;
    margin-top: 20px;
  }

  .build-with-us-button:hover {
    width: 100%;
    margin-top: 20px;
  }
}
