.partnership-description-text {
  font-size: 38px;
  padding-bottom: 20px;
  color: white;
  font-weight: 300;
}

.partnership-row {
  max-width: 1200px;
  padding: 20px 100px;
}

.gradient-tech {
  border-left: 1px solid white;
}

@media (max-width: 767px) {
  .partnership-text {
    font-size: 28px;
  }

  .partnership-description-text {
    font-size: 28px;
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .gradient-tech {
    border-left: none;
  }
}
