.partnership-description-text {
  font-size: 38px;
  padding-bottom: 20px;
  color: white;
  font-weight: 300;
}

.partnership-row {
  max-width: 1200px;
  padding: 20px 100px;
}

.gradient-tech {
  border-left: 1px solid white;
}

.more-about-partnership {
  background-color: black;
  margin-top: 60px;
  border-color: white;
  border-radius: 100px;
  padding: 20px 55.5px;
}

.more-about-partnership:hover {
  background-color: white;
  color: black;
  margin-top: 60px 0 82px;
  border-color: white;
  border-radius: 100px;
  padding: 20px 55.5px;
}

@media (max-width: 767px) {
  .partnership-text {
    font-size: 28px;
  }

  .partnership-description-text {
    font-size: 28px;
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .gradient-tech {
    border-left: none;
  }
}
