.projects {
  background-color: white;
  max-width: 100%;
  text-align: center;
}

.projects-content-text {
  color: #b9b2b2;
  margin-bottom: 20px;
  width: 100%;
}

.card {
  height: 100%;
}

.card-img-top {
  object-fit: cover;
  border-radius: 15px;
}

.card-image {
  width: 205px;
  height: 145px;
  align-self: center;
}

.card-title {
  color: #6b6b6b;
  font-size: 24px;
  font-weight: 700;
}

.card-text {
  margin-top: 10px;
}

.learn-more {
  color: #1a1b1f;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0;
}

.learn-more .btn {
  margin-left: auto;
}

.card-row {
  max-width: 1000px;
  padding: 20px 100px;
}

@media (max-width: 767px) {
  .projects {
    padding: 0 15px;
  }
}
