* {
  margin: 0;
  padding: 0;
}

h1,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  color: white;
}

h2,
.h2-poppins,
h3,
h6,
span {
  font-family: "Poppins", sans-serif;
  color: #6b6b6b;
}

h1 {
  font-size: 48px;
  font-weight: 500;
}

.h1-montserrat {
  font-size: 50px;
  color: #ffffff;
}

h2 {
  font-size: 42px;
  color: black;
  font-weight: 500;
  margin: 10px 0px 0px;
}

.h2-poppins {
  font-size: 38px;
  color: white;
  font-weight: 300;
  margin: 10px 0px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  font-weight: 300;
}

.h5-poppins {
  font-size: 18px;
  font-weight: 800;
}

h6 {
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

p {
  font-family: "Poppins", sans-serif;
}

.section-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #955df1;
  letter-spacing: 1px;
}

.text-gray {
  font-family: "Poppins", sans-serif;
  color: #b9b2b2;
}

.nav-container {
  margin: 0 150px;
  max-width: 100%;
  display: flex;
}

.nav-studio-and-tech-contaner {
  margin: 0 250px;
  max-width: 100%;
  display: flex;
}

.row-container {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: left;
}

.col-container {
  display: block;
  justify-content: center;
  width: 100%;
}

.card-row {
  max-width: 1000px;
  padding: 20px 100px;
}

.content-center {
  max-width: 800px;
  padding: 0px 100px 0px;
}

.full-height {
  height: 130vh;
}

.build-with-us-button {
  background-color: black;
  margin-top: 60px;
  border-color: white;
  border-radius: 100px;
  padding: 20px 55.5px;
}

.build-with-us-button:hover {
  background-color: white;
  color: black;
  margin-top: 60px 0 82px;
  border-color: white;
  border-radius: 100px;
  padding: 20px 55.5px;
}

@media (max-width: 1221px) {
  .nav-studio-and-tech-contaner {
    margin: 0 90px;
  }
}

@media (max-width: 991px) {
  .nav-studio-and-tech-contaner {
    margin: 0 90px;
  }

  .nav-container {
    margin: 0 50px;
  }
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #343a40;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .navbar-collapse.collapsing {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .navbar-nav .nav-link {
    text-align: center;
  }
  
  .h2-poppins {
    font-size: 34px;
  }
}

@media (max-width: 767px) {
  .nav-studio-and-tech-contaner {
    margin: 0 60px;
  }

  .nav-container {
    margin: 0 30px;
  }

  .h2-poppins {
    font-size: 24px;
  }
}
