/* GradientNav.css */
.gradient-studio-background {
  background: linear-gradient(
    90deg,
    rgba(255, 143, 178, 1) 20%,
    rgb(227, 120, 49) 100%
  );
}

.venture-building-title {
  letter-spacing: 1.5px;
  font-size: 18px;
}
