.gradient-studio-background {
  background: linear-gradient(
    90deg,
    rgba(255, 143, 178, 1) 20%,
    rgb(227, 120, 49) 100%
  );
}

.partner-with-us-container {
  padding: 100px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.partner-with-us-section {
  letter-spacing: 1.5px;
}

@media (max-width: 767px) {
  .partner-with-us-button {
    width: 100%; /* Make the button full width on mobile */
  }
}
