.margin-top-container {
  margin-top: 120px;
}

.what-we-do-title {
  font-weight: 500;
  margin: 0px 0px 20px;
}

.icon-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 40px 0px;
}

@media (max-width: 767px) {
  .margin-top-container {
    margin-top: 120px;
    height: 100%;
  }

  .icon-title {
    margin: 20px 0;
  }
}
